.grid{
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 25% 25% 1fr 1fr;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    column-gap: 10px;
}
.box{
    background-color: aqua;
    color: black;
    border-radius: 5px;
    border: 2px brown solid;
}
.a{
    
}